.messages-wrapper {
  width: 100%;
  padding: 20px;
  background: lightgray;
  display: flex;
  flex-direction: row;
}

.conversation-list {
  height: 500px;
  overflow: scroll;
  flex: 1;
  background: coral;
}

.chat-messages-box {
  flex: 3;
}
