div.donation-wrapper {
  height: 100%;
  padding-bottom: 100px;
}

p.cancel-message {
  color: #4500c9;
  font-weight: bold;
}

section.donation-section {
  margin: 50px 10px;
  background: white;
  box-shadow: 2px 2px 6px 0 rgba(41, 2, 80, 0.1);
  border-radius: 10px;
  padding: 10px;
}

div.donation-img {
  text-align: center;
}

img.donation-image {
  width: 100%;
  height: 100%;
  padding: 5px;
}

div.item-container-details {
  border-bottom: 1px solid #4500c9;
  margin-left: 10px;
  color: #4500c9;
}

div.user-container-details {
  padding-top: 20px;
}

@media all and (min-width: 600px) {
  div.donation-wrapper {
    margin-right: 10%;
    margin-left: 10%;
    padding: 30px;
  }

  section.donation-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
  }

  div.donation-item-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #4500c9;
  }

  div.donation-img-container {
    flex: 1px;
  }

  div.item-container-details {
    border-bottom: none;
    margin-top: 20px;
    flex: 1;
  }

  div.user-container-details {
    margin-left: 20px;
  }

  button.donation-btn {
    width: 40%;
  }

  div.button-container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
