.landing-wrapper {
  height: 100%;
  padding: 50px 20px;
  background: #edebeb;
}

.tagline {
  color: #4500c9;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 30px;
  text-align: center;
}

.react-icon {
  text-align: center;
}

@media all and (min-width: 900px) {
  .tagline {
    font-size: 24px;
    margin-bottom: 60px;
  }

  .landing-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .landing-item {
    flex-grow: 1;
    max-width: 350px;
    min-width: 80px;
    background-color: white;
    padding: 20px;
    margin-bottom: 60px;
    box-shadow: 2px 2px 6px 0 rgba(41, 2, 80, 0.1);
    border-radius: 10px;
  }
}
