div.editdonation-wrapper {
  height: 100%;
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

div.editdonation-image {
  text-align: center;
}

img.edit-image {
  max-width: 500px;
  max-height: 500px;
}

input.edit-input {
  background: #edebeb;
}
