nav.navbar-wrapper {
  height: 10vh;
  background: white;
  display: flex;
  align-items: baseline;
  position: relative;
}

.button {
  background: #4500c9;
  color: white;
}

.logo {
  flex: 1;
  margin: 15px;
}

.logo-image {
  max-width: 240px;
}

.nav-links {
  display: flex;
  width: 70%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: #4500c9;
  text-decoration: none;
  font-size: 16px;
}

@media all and (max-width: 900px) {
  .line {
    width: 30px;
    height: 3px;
    background: #4500c9;
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .logo-image {
    max-width: 200px;
  }

  .logo {
    margin: 15px;
    vertical-align: baseline;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
    transition: all 0.5s ease 0.3s;
  }

  .nav-links li a {
    font-size: 25px;
  }

  li.fade {
    opacity: 1;
  }
}
