.dashboard-container {
  height: 100%;
  padding-bottom: 100px;
}

.dashboard-header {
  text-align: center;
}

p .p-citystate {
  color: lightgrey;
  font-size: 12px;
}

div.donation-dashboard-img {
  text-align: center;
}

li.dashboard-items-div-container {
  margin: 10px;
  background: white;
  padding: 10px;
  box-shadow: 2px 2px 6px 0 rgba(41, 2, 80, 0.1);
  border-radius: 10px;
}

img.img-donation {
  width: 100%;
  height: 100%;
  padding: 5px;
}

@media all and (min-width: 400px) {
  .dashboard-container {
    margin-right: 10%;
    margin-left: 10%;
  }

  .dashboard-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: start;
  }

  img.img-donation {
    width: 200px;
    height: 200px;
    padding: 5px;
  }
}
