.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.demo-credentials {
  color: #5219c9;
  margin: 2.5px 0px;
}

form.login-form > div {
  margin-top: 10px;
}

@media all and (min-width: 600px) {
  div.submit-button {
    text-align: center;
  }

  button.form-btn {
    width: 30%;
  }
}
