div.newdonation-wrapper {
  height: 100%;
  padding-bottom: 100px;
}

section.newdonation-section {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

@media all and (min-width: 600px) {
  .newdonation-wrapper {
    margin-right: 10%;
    margin-left: 10%;
  }
  div.submit-button {
    text-align: center;
  }

  button.form-btn {
    width: 30%;
  }
}
