* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  margin-bottom: auto;
}

body {
  background-color: #edebeb;
}

div .app-container {
  position: relative;
  min-height: 100vh;
  bottom: 0;
}

h1,
h2 {
  color: #4500c9;
  margin: 20px auto;
  text-align: center;
}

p {
  margin-bottom: 10px;
  color: rgb(55, 55, 55);
}

input {
  width: 100%;
}

.app-header {
  background-image: linear-gradient(
    to right,
    #4500c9,
    #5219c9,
    #5e28c9,
    #6835c8,
    #7141c8,
    #7242c9,
    #7443cb,
    #7544cc,
    #6f3ad0,
    #692fd3,
    #6323d7,
    #5b11da
  );
  position: sticky;
  top: 0;
  border-bottom: 3px solid rgb(166, 141, 255);
  padding: 10px 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  text-align: center;
  border-top: 3px solid rgb(166, 141, 255);
  background-image: linear-gradient(
    to right,
    #4500c9,
    #5219c9,
    #5e28c9,
    #6835c8,
    #7141c8,
    #7242c9,
    #7443cb,
    #7544cc,
    #6f3ad0,
    #692fd3,
    #6323d7,
    #5b11da
  );
  padding: 20px 5px;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #692fd3;
  font-size: 18px;
  color: rgb(55, 55, 55);
  margin: 20px 0px;
  width: 80%;
}

@media all and (min-width: 600px) {
  main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
  }
}
