* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}

div .app-container {
  position: relative;
  min-height: 100vh;
  bottom: 0;
}

.app-header {
  background-image: linear-gradient(
    to right,
    #4500c9,
    #5219c9,
    #5e28c9,
    #6835c8,
    #7141c8,
    #814bcb,
    #8f55cf,
    #9c60d2,
    #b36dda,
    #c87be2,
    #dd89ea,
    #f198f3
  );
  position: sticky;
  top: 0;
  border-bottom: 3px solid rgb(166, 141, 255);
  padding: 20px 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  text-align: center;
  border-top: 3px solid rgb(166, 141, 255);
  background-image: linear-gradient(
    to right,
    #4500c9,
    #5219c9,
    #5e28c9,
    #6835c8,
    #7141c8,
    #814bcb,
    #8f55cf,
    #9c60d2,
    #b36dda,
    #c87be2,
    #dd89ea,
    #f198f3
  );
  padding: 20px 5px;
}
