* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  padding-bottom: 2.5rem;
}

body {
  background-color: #edebeb;
}

div.app-container {
  position: relative;
  min-height: 100vh;
}

h1,
h2 {
  color: #4500c9;
  margin: 20px auto;
  text-align: center;
}

p {
  margin-bottom: 10px;
  color: rgb(55, 55, 55);
}

label {
  font-size: 18px;
  margin-top: 15px;
}

input {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid black;
}

a {
  text-decoration: none;
}

header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(41, 2, 80, 0.1);
  width: 100%;
  top: 0;
  position: sticky;
}

footer {
  position: absolute;
  padding-bottom: 5px;
  bottom: 0px;
  width: 100%;
  color: white;
  height: 2.5rem;
  text-align: center;
  border-top: 3px solid rgb(166, 141, 255);
  background-image: linear-gradient(
    to right,
    #4500c9,
    #5219c9,
    #5e28c9,
    #6835c8,
    #7141c8,
    #7242c9,
    #7443cb,
    #7544cc,
    #6f3ad0,
    #692fd3,
    #6323d7,
    #5b11da
  );
  padding: 20px 5px;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #692fd3;
  font-size: 18px;
  color: rgb(55, 55, 55);
  margin: 20px 0px;
  width: 100%;
  cursor: pointer;
}

.footer-text {
  vertical-align: center;
  color: white;
}

@media all and (min-width: 600px) {
  main {
    margin-left: 10%;
    margin-right: 10%;
  }
}
