.register-wrapper {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

@media all and (min-width: 600px) {
  .register-wrapper {
    width: 60%;
  }
  div.submit-button {
    text-align: center;
  }

  button.form-btn {
    width: 30%;
  }
}
